# ==== Django / Python ====
pycache/
*.pyc
*.py[codz]
*$py.class
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
.env
.envrc
.venv
env/
venv/
ENV/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.pytest_cache/
.coverage
htmlcov/
media/*

!media/organizations/
!media/organizations/logos/
!media/organizations/impact/

!media/organizations/logos/*.png
!media/organizations/impact/*.png
data.json
.mypy_cache/
.ruff_cache/

# ==== Flutter / Dart ====
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
android/app/debug
android/app/profile
android/app/release
**/android/local.properties
**/android/.gradle
**/ios/Flutter/flutter_export_environment.sh

# ==== IDE / Editor ====
.vscode/
.idea/

# ==== OS ====
.DS_Store
Thumbs.db